.wrapper {
    overflow:hidden;
    width:320px;
}
.wrapper div {
    /* any width up to (total img width) * (num_columns) */
    /* the rest will be chopped off by overflow:hidden */
    width:330px;
    
    /* chops off top "padding" of inner div (first row imgs top margin) */
    margin-top:-10px;
}
img {
    width:100px;
    height:75px;
    float:left;
    margin:10px 10px 0 0;
}

/* decoration */
img {
     background:#2b2b2b;   
}
.wrapper {
    background:#2b2b2b;
}
#aligned{
    height: 1296px;width: 534px;
}